@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #424551;
}

[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
	line-height: 1.5;
}
